.cmshtml,
.cmsbody,
.cmshtml div,
.cmshtml span,
.cmshtml applet,
.cmshtml object,
.cmshtml iframe,
.cmshtml h1,
.cmshtml h2,
.cmshtml h3,
.cmshtml h4,
.cmshtml h5,
.cmshtml h6,
.cmshtml p,
.cmshtml blockquote,
.cmshtml pre,
.cmshtml a,
.cmshtml abbr,
.cmshtml acronym,
.cmshtml address,
.cmshtml big,
.cmshtml cite,
.cmshtml code,
.cmshtml del,
.cmshtml dfn,
.cmshtml em,
.cmshtml img,
.cmshtml ins,
.cmshtml kbd,
.cmshtml q,
.cmshtml s,
.cmshtml samp,
.cmshtml small,
.cmshtml strike,
.cmshtml strong,
.cmshtml sub,
.cmshtml sup,
.cmshtml tt,
.cmshtml var,
.cmshtml b,
.cmshtml u,
.cmshtml i,
.cmshtml center,
.cmshtml dl,
.cmshtml dt,
.cmshtml dd,
.cmshtml ol,
.cmshtml ul,
.cmshtml li,
.cmshtml fieldset,
.cmshtml form,
.cmshtml label,
.cmshtml legend,
.cmshtml table,
.cmshtml caption,
.cmshtml tbody,
.cmshtml tfoot,
.cmshtml thead,
.cmshtml tr,
.cmshtml th,
.cmshtml td,
.cmshtml article,
.cmshtml aside,
.cmshtml canvas,
.cmshtml details,
.cmshtml embed,
.cmshtml figure,
.cmshtml figcaption,
.cmshtml footer,
.cmshtml header,
.cmshtml hgroup,
.cmshtml menu,
.cmshtml nav,
.cmshtml output,
.cmshtml ruby,
.cmshtml section,
.cmshtml summary,
.cmshtml time,
.cmshtml mark,
.cmshtml audio,
.cmshtml video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  font-size: inherit;
  line-height: inherit;
}

.cmshtml article,
.cmshtml aside,
.cmshtml details,
.cmshtml figcaption,
.cmshtml figure,
.cmshtml footer,
.cmshtml header,
.cmshtml hgroup,
.cmshtml menu,
.cmshtml nav,
.cmshtml section {
  display: block;
}

.cmsbody {
  line-height: 1;
}

.cmshtml ol,
.cmshtml ul,
.cmshtml li,
.cmshtml dl,
.cmshtml dt,
.cmshtml dd {
  list-style: none;
}

.cmshtml blockquote,
.cmshtml q {
  quotes: none;
}

.cmshtml blockquote:before,
.cmshtml blockquote:after,
.cmshtml q:before,
.cmshtml q:after {
  content: '';
  content: none;
}

.cmshtml table {
  border-collapse: collapse;
  border-spacing: 0;
}

.cmshtml strong {
  font-weight: 700;
}

.cmshtml img {
  vertical-align: bottom;
}
