@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");


.cmshtml {
    font-size: 16px;
}

.cmsbody {
    line-height: 1.5;
    font-weight: 400;
    font-family: 'Noto Sans JP', serif;
    font-size: 1rem;
}

.cmshtml .globalh1 {
    font-weight: 400;
    position: fixed;
    left: 0.25rem;
    top: 0.25rem;
    font-size: 0.8rem;
    color: #fff;
    z-index: 300;
}

.cmshtml #globalHeader {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 200;
    padding: 20px 20px 0;
    transition: 0.4s background-position;
}

.cmshtml .scrolled #globalHeader {
    background-position: 0 0;
}

.cmshtml #globalNav .navUl {
    display: flex;
    justify-content: space-between;
}

.cmshtml #globalNav .navUl>* {
    position: relative;
}

.cmshtml #globalNavMain>.navUl>* {
    padding: 10px 0;
}

.cmshtml #globalNav .navUl .navUl {
    font-size: 1rem;
    position: absolute;
    left: 50%;
    top: 50px;
    display: block;
    transform: translateX(-50%);
    text-align: center;
    display: none;
    white-space: nowrap;
    min-width: 200px;
}

.cmshtml #globalNav .navUl .navUl>* {
    padding: 10px;
    transition: 0.4s background, 0.4s color;
}

.cmshtml #globalNav .navUl .navUl a {
    display: block;
    margin-bottom: -1px;
}


.cmshtml #logo {
    align-self: center;
    margin-right: 40px;
}

.cmshtml #logo img {
    max-width: 100%;
    height: auto;
}

.cmshtml #globalNav {
    flex: 1 1 auto;
    font-weight: 700;
}

.cmshtml #globalNav a {
    text-decoration: none;
}

.cmshtml #globalNavInner {
    display: flex;
    flex-direction: column;
}

.cmshtml #globalNavSub {
    align-self: flex-end;
    margin-bottom: 10px;
    font-size: 0.85rem;
}

.cmshtml #globalNavSub>.navUl>*+* {
    margin-left: 20px;
}

.cmshtml #globalNavSub a {
    display: inline-block;
    padding: 6px 20px;
    transition: 0.4s background, 0.4s color;
}

.cmshtml #globalNavMain {
    font-size: 1.15rem;
}

.cmshtml #globalNavbtn {
    display: none;
}

.cmshtml #topMovie {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.cmshtml #topMovieBg {
    position: absolute;
    left: 0;
    top: 0;
}


.cmshtml #topMovieBg:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image:
        radial-gradient(rgba(0, 0, 0, 0.6) 30%, rgba(0, 0, 0, 0.2) 30%);
    background-size: 4px 4px;
}


.cmshtml #wrapper_topMovieBg:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.cmshtml .topMovieCatch {
    font-size: 3rem;
    font-weight: 700;
    transform: scale(0.6);
    opacity: 0;
    transition: 0.6s opacity, 0.6s transform;
    transition-delay: 1s;
}

.cmshtml .loaded .topMovieCatch {
    opacity: 1;
    transform: scale(1);
}

.cmshtml #contentsWrap {
    margin-top: 100vh;
    background: #fff;
    z-index: 100;
    position: relative;
}

.cmshtml .contentsImg {
    min-height: 200px;
}

.cmshtml .contentsImg img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 0;
}

.cmshtml .contentsBg {
    position: relative;
    overflow: hidden;
    z-index: 0;
    color: #fff;
    padding: 20px;
}

.cmshtml .contentsBg:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(10px);
    z-index: -1;
    transform: scale(1.2);
}

.cmshtml .contentsLink {
    text-align: center;
    padding: 40px 0;
}

.cmshtml .contentsLink a {
    display: inline-block;
    text-decoration: none;
    color: #fff !important;
    padding: 10px 20px;
    min-width: 300px;
    border-radius: 300px;
    transition: 0.4s background-position !important;
}

.cmshtml .contentsLink a:hover {
    background-position: 100% 50%;
}

.cmshtml #globalFooter {
    z-index: 100;
    position: relative;
}

.cmshtml #footerInner {
    display: flex;
    padding: 20px;
}

.cmshtml #footerLink {
    flex: 1 1 auto;
}

.cmshtml #footerLink li {
    display: inline-block;
    margin-right: 20px;
}

.cmshtml #copy {
    z-index: 100;
    position: relative;
    padding-top: 20px;
    padding-bottom: 80px;
    font-size: 0.85rem;
    text-align: center;
}

.cmshtml #footerContact {
    background: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    transform: translateY(100%);
    transition: 0.4s transform;
}

.cmshtml .scrolled #footerContact {
    transform: translateY(0);
}

.cmshtml #footerContactInner {
    display: flex;
    align-items: center;
}

.cmshtml .footerContactItem a {
    display: block;
    color: #fff !important;
    text-decoration: none;
    font-weight: 700;
    padding: 16px 40px;
    background-position: 0 0;
    background-size: 200% auto;
    font-size: 1.2rem;
    transition: 0.4s background !important;
}

.cmshtml .footerContactItem a:hover {
    background-position: 100% 0;
}

.cmshtml .footerContactItem03 {
    margin-left: auto;
    padding-right: 20px;
}

.cmshtml #contentsWrap.page {
    margin-top: 300px;
}

.cmshtml #pagetitle {
    height: 300px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.cmshtml #pagetitleBg {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 300px;
}

.cmshtml #pagetitleBg img {
    filter: blur(4px);
    transform: scale(1.2);
    object-fit: cover;
    width: 100%;
    height: 300px;
    min-height: 300px;
    object-position: center center;
}

.cmshtml #pagetitleInner {
    position: absolute;
    left: 40px;
    top: 145px;
    z-index: 200;
    color: #fff;
}

.cmshtml #pagetitleInner h2 {
    font-size: 2rem;
    font-weight: 700;
}

.cmshtml #pagetitleInner h3 {
    font-size: 1rem;
    font-weight: 700;
}

.cmshtml .blogSide {
    background: #eee;
    border-bottom: 1px solid #ccc;
    padding: 40px 20px;
}

.cmshtml .blogMain {
    padding: 20px;
}

.cmshtml .sp-button {
    border: none;
    width: 14px;
    height: 14px;
    margin-right: 10px;
    margin-left: 10px;
}

@media (min-width: 1px) and (max-width: 576px) {
    .cmshtml .globalh1 {
        display: none;
    }

    .cmshtml #logo {
        max-width: 200px;
    }

    .cmshtml #globalNavbtn {
        display: block;
    }

    .cmshtml #globalNavbtn a {
        position: absolute;
        left: -50px;
        top: 20px;
        display: flex;
        width: 50px;
        height: 50px;
        padding: 15px;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid #ddd;
        background: #fff;
    }

    .cmshtml #globalNavbtn a span {
        display: block;
        background: #222;
        height: 1px;
    }

    .cmshtml #globalNav {
        position: fixed;
        right: -250px;
        top: 0;
        width: 250px;
        height: 100%;
        background: #fff;
        text-align: center;
        transition: 0.4s right;
    }

    .cmshtml #globalNav.open {
        right: 0;
    }

    .cmshtml #globalNav a {
        color: #222;
    }

    .cmshtml #globalNavInner {
        height: 100%;
        overflow: auto;
    }

    .cmshtml #globalNavInner {
        flex-direction: column;
    }

    .cmshtml #globalNavMain {
        order: -1;
    }

    .cmshtml #globalNav .navUl {
        display: block;
    }

    .cmshtml #globalNavSub {
        align-self: normal;
        margin-top: 20px;
        margin-bottom: 150px;
    }

    .cmshtml #globalNavSub a {
        border: 1px solid #222;
    }

    .cmshtml #globalNavSub>.navUl>*+* {
        margin-left: 0;
    }


    .cmshtml #globalNav .navUl .navUl {
        position: static;
        display: block !important;
        margin-left: 0;
        width: auto;
        height: auto !important;
        background: #eee;
        margin-top: 0 !important;
        transform: none;
        white-space: normal;

    }

    .cmshtml #globalNav .navUl .navUl a {
        border: none;
        margin-bottom: 0;
        background: transparent;
    }

    .cmshtml #globalNavMain .navUl>* {
        padding: 0 !important;
    }

    .cmshtml #globalNav .navUl .navUl>* {
        border: none !important;
    }

    .cmshtml #globalNav .navUl a {
        display: block;
        padding: 10px;
    }

    .cmshtml .topMovieCatch {
        font-size: 2rem;
    }

    .cmshtml #footerInner {
        display: block;
    }

    .cmshtml #footerLink {
        text-align: center;
    }

    .cmshtml #footerContactInner {
        flex-wrap: wrap;
    }

    .cmshtml .footerContactItem {
        flex: 1 1 50%;
        text-align: center;
    }

    .cmshtml .footerContactItem03 {
        flex: 1 1 100%;
        padding: 20px 0;
        text-align: center;
    }

    .cmshtml #copy {
        padding-bottom: 160px;
    }

    .cmshtml .footerContactItem a {
        padding: 16px 12px;
    }
}


/* for edit */
#editView .cmshtml .globalh1,
#editView .cmshtml #globalHeader,
#editView .cmshtml #topMovie {
    position: relative;
}

#editView .cmshtml .topMovieCatch {
    opacity: 1;
    transform: none;
}

#editView .cmshtml #topMovieBg {
    display: block;
}

#editView .cmshtml #topMovie {
    display: block;
}

#editView .cmshtml #contentsWrap {
    margin-top: 0;
}

#editView .cmshtml #topMovie {
    height: 500px;
    text-align: center;
}

#editView .cmshtml .sp-slide {
    position: static;
    opacity: 1;
}

#editView .cmshtml .sp-slides {
    height: 500px;
    overflow: auto;
}

#editView .cmshtml #ytplayer {
    width: 600px;
    height: 400px;
}

#editView.showhideElement .cmshtml #globalNav .navUl .navUl {
    display: block;
}